body{
    font-family: 'Source Sans Pro', sans-serif; 
  }
  .logo{
    height: 50px;
    width: auto;
    float: right;
    position: relative;
    
  }
  .sc-box {
    position: relative;
    width: 750px;
    Height:1100px;
    margin: auto auto;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.08), 0px 6px 16px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    text-align: center;
  }
  .sc-container {
    padding: 0px;
  }
  .containerpic{
  display: inline-block;
  }
  img{
    height:293px;
  }
  .summary{
    margin: 20px;
    color:#47B0DD;
    font-weight: 1000;
  }
  .date{
    font-color: red;
    margin: 20px;
  }
  a{
    text-decoration:none;
  }
  button{
    width: 586px;
    height:85;
    margin: 20px;
    position: relative;
    background-color: #4981C8;
    border:none;
    border-radius:4px;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  .hr {
      height: 1px;
      width: 592px;
      position: center;
      border: 0;
      border-top: 1.5px solid #ccc;
      margin: 1em 0;
  }
  .box {
    background-color: #3DA1E4;
    opacity: 0.11;
    width: 592px;
    height:356px;
    margin-top: -268px;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  .fa-facebook {
    color: black;
  }
  .fa-linkedin {
    color: black;
  }
  .fa-instagram {
    color: black;
  }
  .footer{
    background-color: #F5F5F5;
    text-align: text-bottom;
    width: 100%;
    height:auto;
    padding-bottom: 20px;
    bottom: 0;
    position: absolute;
  }
  